/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
   height: 100vh;
    background-color: #706e6e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 50%;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"], input[type="date"] {
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #018501;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    background-color: #fafafa;
    border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  li.completed {
    background-color: #d4edda;
    text-decoration: line-through;
  }
  
  li button {
    background-color: #dc3545;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  
  li .edit {
    background-color: #007bff;
  }
  
  li .edit:hover {
    background-color: #0056b3;
  }
  
  /* Notification Styling */
  #notification {
    margin-top: 10px;
    font-size: 14px;
    color: green;
    visibility: hidden;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    input[type="text"], button {
      font-size: 14px;
    }
  }
  